body{
  color: black;
  font-style: normal;
  font-weight: lighter;
  font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.topnav {
overflow: hidden;
}
.topnav a {
float: left;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.topnav a.active {
color: #ff9999;
}
a:visited{
  color: black;
}
a{
  font-size: 2em;
  color: black;
  text-decoration: none;
}
a:hover{
  color: gray;
}
