body{
  background-color: #ffcccc;
}

h1{
  background-color:#ffcc99;
  border: 4px dotted white;
  text-align: center;
}

h2{
  background-color: lightblue;
  width:500px;
  margin:0 auto;
  border: 4px dotted white;
  text-align: center;
}
img{
  image-orientation: center;
}

marquee{

}

ul{
  width:250px;
  margin:0 auto;
}

ol{
  width:250px;
  margin:0 auto;
}

#good {
  background-color: lightblue;
  width:500px;
  margin:0 auto;
}

#evil{
  background-color: #996666;
}
