body{
  background-image: url("chewy.jpg");
}

h1{

  border: 4px dotted white;
  text-align: center;
}

img{
  image-orientation: center;
}

ul{
  width:250px;
  margin:0 auto;
}

ol{
  width:250px;
  margin:0 auto;
}

#good {
  background-color: lightblue;
  width:400px;
  margin:0 auto;
}

#evil{
  background-color: #996666;
}
