body{
  background-color:#ffcccc;
  font-family: Raleway;
}
h1{
  background-color:#ffcc99;
  border: 4px dotted white;
  text-align: center;
}
img{
  image-orientation: center;
}

marquee{
  
}

ul{
  width:250px;
  margin:0 auto;
}

ol{
  width:250px;
  margin:0 auto;
}

#good {
  background-color: lightblue;
}

#evil{
  background-color: #996666;
}
